/src/.objs*
/src/devel*
/src/output*
/src/*.log
*.layout
*.depend
*.bmarks
**/Makefile.in
/build*
/configure
/aclocal.m4
/.last_revision
/autom4te.cache
/install-sh
/ltmain.sh
/missing
/revision.m4
/depcomp
*build_log.html
/src/include/config.h.in
*cscope_file_list
/config.guess
/config.sub
*.cbTemp
**/.cache
**/compile_commands.json
*.o
ZZ_BUILD.txt
windows_installer/codeblocks*.exe
windows_installer/*.7z
windows_installer/*.7z.*
**/clangd_client.cbplugin
**/clangd_client.zip
**/Clangd_Client.dll
