/src/.objs*
/src/devel*
/src/output*
/src/*.log
compile_commands.json
*.layout
*.depend
*.cache
# autorevision.h
*.bmarks
Makefile.in
/build*
/configure
/aclocal.m4
/.last_revision
/autom4te.cache
/install-sh
/ltmain.sh
/missing
/revision.m4
/depcomp
*build_log.html
/src/include/config.h.in
*cscope_file_list
/config.guess
/config.sub
*.cbTemp
*.o
windows_installer/codeblocks*.exe
windows_installer/*.7z
windows_installer/*.7z.*
src/plugins/contrib/BrowseTracker/compile_commands.json
src/plugins/clangd_client/compile_commands.json
src/plugins/clangd_client/clangd_client.cbplugin
src/plugins/clangd_client/clangd_client.zip
src/plugins/clangd_client/bin/Clangd_Client.dll
